
<div class="background">
  <div class="text">
    <h1>Your Trusted Car Rental Service</h1>
    <p>Looking for a reliable and affordable way to get around? Whether you're planning a vacation, need a car for a business trip, or simply want to explore your city, we have the perfect vehicle for you.we offer a wide selection of well-maintained, top-quality vehicles designed to fit your needs and budget.</p>
  
  </div>

</div>


<section class="main">

    <section class="car-list">
        @for (item of cars; track $index) {
          <div class="car-card">
            <img [src]="item.imageUrl1" alt="Car Image" class="car-image">
      
            <div class="card-body">
              <div class="car-card-header">
                <h2>{{ item.model }}</h2>
                <p class="price">${{ item.price }}</p>
              </div>
      
              <div class="car-card-details">
                <div class="detail">
                  <span class="label">Model:</span>
                  <span class="value">{{ item.model }}</span>
                </div>
                <div class="detail">
                  <span class="label">Transmission:</span>
                  <span class="value">{{ item.transmission }}</span>
                </div>
                <div class="detail">
                  <span class="label">Capacity:</span>
                  <span class="value">{{ item.capacity }} people</span>
                </div>
              </div>
      
              <button class="book-btn">Book Now</button>
            </div>
          </div>
        }
      </section>
      
</section>

